html {
    font-family: "Times New Roman", Times, serif;
}

/*=============================*/
/* Main content modifications  */
/*=============================*/

/*trying to added another column*/
#project-details {
    height: 0px;
    max-width: 200px;
    float: left;
    display:inline;
    background-color: #efe !important;
    
    transition: height .2s 1s ease-in-out;

}


.expanded {
    height:350px !important;
    background-color: #eef !important;
}

/* The content `<div>` is where all your content goes.*/
.content {
    /*margin: 0 auto;*/
    padding-top: 3.2em;
    padding-right: : 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    max-width: 1000px;
    margin-bottom: 0px;
    line-height: 1.2em;
    background-color: #fee !important;

    /* Transition default properties */
    margin-left:0%;
    opacity: 1;
    /*-webkit-transition: margin-left .7s ease-in-out;*/

    transition:
    /*  property            duration    delay */
        margin-left         .5s         0.2s ease-in-out,
        opacity             1.0s        0.8s
}

.slideout {
    margin-left: 60%;
    opacity: .6; 
}




}
/*=======================*/
/* Sidebar modifications */
/*=======================*/

.brand-main {
	font-color: #333;
	font-size: 1.6rem;
	margin-top: 2rem;
    padding-top: 1rem;
	padding-left: 2rem; 
	/*padding-right: 1rem;*/
	padding-bottom: 1.5rem;
	text-decoration: none;
    /*border-top: 1px solid #999;*/
    /*border-bottom: 1x solid #999;*/
}

#menu {
	background-color:#fff; 
}

/*All anchors inside the menu should be styled like this.*/
#menu a {
    color: #999;    
    border: none;
    padding: 0.1rem 0 0.1rem 2rem;
}

/*style for fake "child" elements in the menu*/
#menu a.pure-menu-child-1 {
    padding-left: 2.5rem;
}

/*hovering over menu element effect*/
#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
    background: #fff;
    color:#000;
}

/*Remove that light border to separate items into groups.*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: none;
}


/*=======================*/
/* Grids modifications   */
/*=======================*/


/*method to add padding or border to grid elements .l-box*/
.pure-g > div {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
        }
.l-box {
    /*padding: .2em;*/
}


/*trying flexboxes*/
/*or trying table, table-cell to keep same sizes of boxes.*/

.parent {
	display:table;
}

.a,
.b,
.c {
    /*display: flex;*/
	display: table-cell;
}

.inside {
    padding-left: 0.3em;
    padding-right: 0.3em;

    text-align: center;
    margin: auto;
}

/* ignore this */
/*.a { background: #ffd9d9 }*/
/*.b { background: #eeffe8 }*/
/*.c { background: #e8e9ff }*/
.pure-hidden-tablet,
.pure-hidden-phone { text-align:center; margin-top: 20px; }
.pure-hidden-tablet { font-weight: bold; color: red; font-size: 1.4em;  }
.pure-hidden-phone { color: #ccc; }


/*TODO:*/
/*see this for the grid fitting!!*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit*/

.image-container-large-3-3 {
    height: 87vh;                   /* 87% of viewport*/
    width: 100%;
    object-fit: cover;
}

.image-container-small-1-3 {
    /*border: 1px solid #000;*/
    height: calc(100%/3 - .3em)  ;            /*container divided in three parts*/
    width: 100%;
    object-fit: cover;
}


/* simple Fade-in for images from https://davidwalsh.name/lazyload-image-fade*/ 
/*All images that have a tag 'data-src=' instead of 'src=' will use lazy loading.*/

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}
