
{% extends 'base.html' %}

{% block content %}
<div id="layout">

<!-- Sidebar.html -->
{% include 'sidebar.html' %}

  <!-- Main Content -->
  <div id="main">


    <div class="content">

     Click <a id="activate-slideout" class="item-test item-test2" href="#">this</a> to toggle the slideout with jquery.

      <!-- Empieza masonry -->

      <div class="masonry">
      {% for article in articles|sort(attribute='date') %}  
        {% if article.coverimg and article.covertext %}
          <div class="item item={{ article.slug }}">
            <a href={{ SITEURL }}/{{ article.url }}>
              <img data-src={{ article.coverimg }} title={{ article.title }}>
            </a>
            <p class="only-text">{{ article.covertext }}</p> 
          </div>
          {% elif article.coverimg %}
          <div class="item item={{ article.slug }}">
            <a href={{ SITEURL}}/{{ article.url }}>
              <img data-src={{ article.coverimg }} title={{ article.title }}>
            </a>
          </div>
          {% elif article.covertext %}
          <div class="item">
            <p class="only-text">{{ article.covertext }}</p>
          </div>
        {% endif %}
      {% endfor %}        
      </div>

      <!-- termina masonry -->


    </div> <!-- end class=content-->
  </div> <!-- end id=main -->
</div> <!-- end id=layout -->

{% endblock content %}

