
<!-- Menu toggle -->

<a href="#menu" id="menuLink" class="menu-link">
	<!-- Hamburger icon -->
	<span></span>
</a>


<div id="menu">

  <div class="brand-main">{{ SITENAME }}</div>

	<div class="pure-menu">
		<ul class="pure-menu-list">
			
      <!-- Get all categories from folders as child menu items-->

      <li class="pure-menu-item"><a href="/" class="pure-menu-link">Parcours</a></li>
        <ul class="pure-menu-list">
				{% for cat, null in categories %}
					<li class="pure-menu-item">
							<a class="pure-menu-link pure-menu-child-1" href="{{ SITEURL }}/{{ cat.url }}">. {{ cat.name }}</a>
					</li>
				{% endfor %}
				</ul>

      <!-- Get pages in pages folder as menu items -->
      
      {% for p in pages %}
			<li class="pure-menu-item" {% if p == page %}class="active"{% endif %}>
				<a class="pure-menu-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
			</li>
			{% endfor %}

		</ul>

		<!-- <p class="tagline">{{ TAGLINE }}</p> -->
	</div>
</div>



<script src="{{SITEURL}}/theme/js/ui.js"></script>
